/*=============== BUTTONS ===============*/
.button {
  width: 100%;
  color: var(--title-color-alt);
  background-color: var(--first-color);
  text-align: center;
  display: block;
  border-radius: var(--mb-1);
  height: 48px;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);

  &.is-disabled {
    background: #dcdcdc;
    cursor: not-allowed;
  }
}
