/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/
.container {
  max-width: 1108px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
